body{
    background: black;
    justify-content: center;
    padding-top: 70px; /* Altura para que no quede oculto el contenido */
}
.card-dark {
  background-color: #000;   /* negro puro */
  color: white;
}